.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
    color: #fff;
    background-color: #232323;
    display: flex;
    justify-content: flex-start;
}

.login {
    order: 20;
    flex: 4 0px;
    margin-top: 30px;
    align-self: center;
}

.login-form {
    width: 20%;
    text-align: center;
    margin: 0 auto;
    margin-top: 3px;
}

.login-form-button {
    margin-top: 3px;
}

.search {
    order: 10;
    text-align: left;
}

.aside-left {
    margin-left: 5px;
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.main {
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
}

@media all {
  .main {
      flex: 10 0px;
      order: 2; }
  .aside {
      flex: 1 auto;
      order: 1;}
}
