.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
    color: #fff;
    background-color: #232323;
    display: flex;
    justify-content: flex-start;
}

.welcomeText {
    color: white;
    text-align: center;
}

#loginForm {
    order: 20;
    flex: 4 0px;
    margin-top: 30px;
    align-self: center;
}

#loggedInHeader {
    display: none;
}

.login-form {
    width: 20%;
    text-align: center;
    margin: 0 auto;
    margin-top: 3px;
}

.login-form-button {
    margin-top: 3px;
}

.search {
    order: 10;
    text-align: left;
}

.aside-left {
    margin-left: 5px;
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#hideOnStartup-left {
    display: none;
}

label {
    font-size: small;
}

.form-check-label {
    font-weight: 500;
}

.main {
    margin-left: 20px;
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
}

.resultItems {
    text-align: left;
    margin-top: 30px;
}

.resultItem {
    margin: 0;
}

.title {
    font-size: x-large;
}

.publishedDate {
    font-size: x-small;
    font-weight: normal;
    margin-left: 10px;
}

.categories {
    font-size: small;
}

.authors {
    font-size: small;
    font-weight: normal;
    margin-bottom: 20px;
}

.format {
    font-size: small;
    font-weight: normal;
}

.price {
    color: red;
    margin-bottom: 10px;
}

.deliveryoption {
    font-size: small;
    font-weight: normal;
    margin-bottom: 20px;
}

.favorite {
    font-size: small;
    color: purple;
    margin-left: 30px;
}

.counters {
    font-size: x-small;
    color: red;
}

#searchedFor {
    text-align: left;
    font-size: small;
}

#noResults {
    text-align: left;
    font-size: small;
}

#myFavorites {
    text-align: left;
}

h2 {
    text-align: left;
}

.star {
    height: 20px;
}

@media all {
  .main {
      flex: 10 0px;
      order: 2; }
  .aside {
      flex: 1 auto;
      order: 1;}
}
